# Large NGS data and raw sequences (>100MB)
*.fq
*.fastq
*.tar

# Theo dõi thư mục src/ và thư mục data/
!src/
!src/**


# Pangenome graph files & indexes (dữ liệu đồ thị nặng sinh ra khi chạy)
*.gfa
*.og
*.gbz
*.dist
*.min
*.xg
*.pg

# Alignment and variant files
*.sam
*.bam
*.bai
*.gaf
*.vcf

# Temporary files and scratch scripts
scratch/
*.tmp
*.log

# System and OS files
.DS_Store
Thumbs.db
__pycache__/
*.pyc
.vscode/

